.app-download {
  margin: auto auto;
  margin-top: 30px;
  font-size: max(3vw, 20px);
  text-align: center;
  font-weight: 500;
}
.app-downlaod-platform {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: max(2vw, 10px);
}
.app-downlaod-platform img {
  max-width: 180px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: max(30vw, 120px);
}
.app-downlaod-platform img :hover {
  transform: scale(1.5);
}
