.cart {
  margin-top: 100px;
}

.cart-items-title {
  display: grid;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
}

.cart-items-item img {
  width: 50px;
}

.cart hr {
  height: 1px;
  border: none;
  background-color: #e2e2e2;
}

.cart-items-item .cross {
  cursor: pointer;
  color: tomato;
}

.cart-button {
  font-size: 12px;
  color: black;
  background-color: #ffff;
  border: 1px solid tomato;
}

.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-total hr {
  margin: 10px 0px;
}

.cart-total-button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 220px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-promocode {
  flex: 1;
}

.cart-promocode p {
  color: #555;
  margin-bottom: 10px;
}

.cart-promocode-input {
  display: flex;
  gap: 10px;
}

.cart-promocode-input input {
  padding: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  outline: none;
  flex: 1;
}

.cart-promocode-input button {
  padding: 10px 20px;
  border: none;
  background-color: #e2e2e2;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 750px) {
  .cart-bottom {
    flex-direction: column-reverse;
  }
  .cart-promocode {
    justify-content: start;
  }
}
