.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat center center;
  position: relative;
  background-size: contain;
}
.header-contents {
  position: absolute;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  font-size: 1vw;
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.5vw;
  background-color: white;
  border-radius: 50px;
  font-size: max(1.5vw, 13px);
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    gap: 10px;
  }
  .header-contents h2 {
    font-size: max(5vw, 22px);
  }
  .header-contents p {
    font-size: max(2vw, 12px);
  }
  .header-contents button {
    font-size: max(3vw, 13px);
    padding: max(1.5vw, 10px) max(3vw, 20px);
  }
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 55%;
  }

  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
